{rng_seed, {42, 23, 12}}.


%% mode:
%%  rate: operations per second (per driver) (total: rate * concurrent)
%%  max: as many ops per second as possible
%% {mode, max}.
{mode, {rate, 10}}.

%% duration in minutes
{duration, 1}.

%% number of workser
{concurrent, 4}.

{operations, [{put,2}, {get, 8}]}.

{driver, basho_bench_driver_scalaris}.

{key_generator, {int_to_str, {uniform_int, 1114111}}}.
%%{key_generator, {int_to_str, {truncated_pareto_int, 1114111}}}.

{value_generator, {fixed_bin, 512}}.


%%{scalarisclient_nodes, ['firstnode@pvs-pc03.zib.de', 'node1@pvs-pc03.zib.de', 'node2@pvs-pc03.zib.de', 'node3@pvs-pc03.zib.de']}.
{scalarisclient_nodes, ['first@pvs-pc07.zib.de', 'node14196@pvs-pc07.zib.de', 'node14197@pvs-pc07.zib.de', 'node14198@pvs-pc07.zib.de']}.

{scalarisclient_mynode, ['bench@pvs-pc07.zib.de']}.

{scalarisclient_cookie, 'chocolate chip cookie'}.
