{rng_seed, {42, 23, 12}}.

%% mode:
%%  rate: operations per second (per driver) (total: rate * concurrent)
%%  max: as many ops per second as possible
%% {mode, max}.
{mode, {rate, 10}}.

%% duration in minutes
{duration, 1}.

%% number of workser
{concurrent, 4}.

{operations, [{put,2}, {get, 8}]}.

{driver, basho_bench_driver_scalaris}.

{key_generator, {int_to_str, {uniform_int, 1114111}}}.
%%{key_generator, {int_to_str, {truncated_pareto_int, 1114111}}}.

%% size in Bytes
{value_generator, {fixed_bin, 512}}.

{scalarisclient_nodes,
	[
		'first@cumu01-00.zib.de',
		'node14195@cumu01-01.zib.de',
		'node14195@cumu01-02.zib.de',
		'node14195@cumu01-03.zib.de',
		'node14195@cumu01-04.zib.de',
		'node14195@cumu01-05.zib.de',
		'node14195@cumu01-06.zib.de',
		'node14195@cumu01-07.zib.de',
		'node14195@cumu01-08.zib.de',
		'node14195@cumu01-09.zib.de',
		'node14195@cumu01-10.zib.de',
		'node14195@cumu01-11.zib.de',
		'node14195@cumu01-12.zib.de',
		'node14195@cumu01-13.zib.de',
		'node14195@cumu01-14.zib.de',
		'node14195@cumu01-15.zib.de',
		'node14195@cumu02-00.zib.de',
		'node14195@cumu02-01.zib.de',
		'node14195@cumu02-02.zib.de',
		'node14195@cumu02-03.zib.de',
		'node14195@cumu02-04.zib.de',
		'node14195@cumu02-05.zib.de',
		'node14195@cumu02-06.zib.de',
		'node14195@cumu02-07.zib.de',
		'node14195@cumu02-08.zib.de',
		'node14195@cumu02-09.zib.de',
		'node14195@cumu02-10.zib.de',
		'node14195@cumu02-11.zib.de',
		'node14195@cumu02-12.zib.de',
		'node14195@cumu02-13.zib.de',
		'node14195@cumu02-14.zib.de',
		'node14195@cumu02-15.zib.de'
	]
}.
